@import './settings.scss';

.switchWrapper {
  position: relative;

  @keyframes changePosition {
    from {
      transform: translate(0, 200px)
    }
    to {transform: translate(0)}
  }

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: changePosition 1s ease-out;
  }
}